<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar topnav">
                <div class="container-fluid">
                    <div>
                        <img src="../static/img/logo_w.png" alt="golf bag site logo" id="logo">
                        <span id="brand" class="navbar-brand">Bag Builder</span>
                    </div>
                    <a href="/dashboard">Home</a>
                    <a href="/bag/create">Add a Bag</a>
                    <a href="/logout">Log Out</a>
                </div>
            </nav>
            <div class="topnav">

            </div>
        </div>

        <main>
            <div class="row justify-content-center main ">
                <!-- Activity feed -->
                <div class="col-9">
                    <div id="welcome">Welcome {{user.first_name}}</div>
                    <img src="static/img/dashboard_hero_thin.jpg" alt="golf ball on the green" id="dashboard_hero">

                    <div class="feed">
                        {% for change in changes %}
                        <div class="row feed_item">
                            <p>{{change.first_name}} made changes to their 
                                <a href="/bag/{{change.bags[0].id}}" class = "like">{{change.bags[0].name}}!</a>
                                <form action="/like" method="POST" class = "like">
                                    <input type="hidden" name="bag_id" value="{{change.bags[0].id}}">
                                    <input type="submit" value="Like" >
                                </form>
                            </p>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                </div>
                <!-- My Bags List -->
                <div class="col-3 sidebar">
                    <h3>My bags</h3>
                    <div class="my_bags">
                        {% for bag in bags %}
                        <ul>

                            <li><a href="/bag/{{bag.id}}" class="my_bag_item">{{bag.name}}</a></li>

                        </ul>
                        {% endfor %}
                        
                    </div>
                    <img src="static/img/dash_cart.jpg" alt="golf cart" id="dash_cart">
                </div>
            </div>
        </main>
    </div>
    </div>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>