<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-5">
                <h1>Feed</h1>
                    <ul>
                        <!-- TODO: user activity feed -->
                        <li>Debbie made changes to their bag: <a href = "/dashboard">Travel Bag</a></li>
                    </ul>
            </div>
            <div class = "col-5 border-start">
                <h1>My bags</h1>
                    <ul>
                        {% for bag in bags %}
                        <li><a href = "/bag/{{bag.id}}">{{bag.name}}</a></li>
                        {% endfor %}
                    </ul>
                <a href = "/bag/create">Add a bag</a>
            </div>
        </div>
    </div>

</body>

</html>