<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Add a Bag</title>
</head>
<body>
<h1>Test</h1>
<form action="/bag/new" method="POST" class="">
    <h2 class="">Create a Bag</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
      <strong>Fields cannot be blank</strong>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="">
      <div class="col-4">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control" value = "{{edit.name}}">
        </div>
        <div class="form-group">
          <label for="driver">Driver</label>
          <input type="text" name="driver" class="form-control">
        </div>
        <div class="form-group">
          <label for="woods">Woods</label>
          <input type="text" name="woods" class="form-control">
        </div>
        <div class="form-group">
          <label for="hybrids">Hybrids</label>
          <input type="text" name="hybrids" class="form-control">
        </div>
        <div class="form-group">
          <label for="irons">Irons</label>
          <input type="text" name="irons" class="form-control">
        </div>
        <div class="form-group">
          <label for="wedges">Wedges</label>
          <input type="text" name="wedges" class="form-control">
        </div>
        <div class="form-group">
          <label for="putter">Putter</label>
          <input type="text" name="putter" class="form-control">
        </div>
        <input type="submit" value="Add Bag" class="btn btn-primary">
      </div>

    </div>
    </div>
  </form>
</body>

</html>