<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Register or Login</title>
</head>
<div class="row">
  <nav class="navbar topnav">
      <div class="container-fluid">
          <div>
              <img src="static/img/logo_w.png" alt="golf bag site logo" id="logo">
              <span id="brand" class="navbar-brand">Bag Builder</span>
          </div>
          <a href="/dashboard">Home</a>
          <a href="/bag/create">Add a Bag</a>
          <a href="/logout">Log Out</a>
      </div>
  </nav>
  <div class="topnav">

  </div>
</div>
<body class="bg-dark">
  <!-- Register -->

  <div class="row justify-content-evenly">
    <div class="col-4">
      <form action="/register" method="post" class="mx-auto rounded text-light">
        <h1>Register</h1>
            <div class="bg-dark text-success">
              {% with messages = get_flashed_messages(category_filter = ['register_success']) %}     <!-- declare a variable called messages -->
              {% if messages %}                            <!-- check if there are any messages -->
                  <h2>Congrats!</h2>
                      {% for message in messages %}            <!-- loop through the messages -->
                          <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                      {% endfor %}
                  {% endif %}
              {% endwith %}
            </div>


            <div class="bg-dark text-danger">
              {% with messages = get_flashed_messages(category_filter = ['register']) %}     <!-- declare a variable called messages -->
              {% if messages %}                            <!-- check if there are any messages -->
                  <h2>Please see the below errors:</h2>
                      {% for message in messages %}            <!-- loop through the messages -->
                          <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                      {% endfor %}
                  {% endif %}
              {% endwith %}
            </div>

          <div class="form-group mb-3">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="mb-3">
            <label for="confirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm">
          </div>
          <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
    <!-- Login -->
    <div class="col-4">
      <form action="/login" method="post" class="mx-auto rounded text-light">
        <h1>Login</h1>
          <!-- <div class="bg-dark text-danger"> -->
          {% with messages = get_flashed_messages(category_filter = ['login']) %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
              <div class="text-danger font-weight-bold">
                  {% for message in messages %}            <!-- loop through the messages -->
                  <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                  {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
          <!-- </div> -->
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <input type="submit" value="Login" class="btn btn-success">
      </form>
    </div>
  </div>


</body>

</html>
