<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>View Bag</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <nav class="navbar topnav">
        <div class="container-fluid">
          <div>
            <img src="../static/img/logo_w.png" alt="golf bag site logo" id="logo">
            <span id="brand" class="navbar-brand">Bag Builder</span>
          </div>
          <a href="/dashboard">Home</a>
          <a href="/bag/create">Add a Bag</a>
          <a href="/logout">Log Out</a>
        </div>
      </nav>
      <div class="topnav">

      </div>
    </div>
    <div class="row">
      <h1>{{ bag.name }}</h1>
    </div>
    <div class="row show_main">
      <div class="col-4">
        <div class="show_content">

        
        <a class="expandLink" data-toggle="collapse" href="#collapseDriver" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          + Driver
        </a>
        <ul>
          <li class="show_content collapse" id="collapseDriver">{{bag.driver}}</li>
        </ul>
        <a class="expandLink" data-toggle="collapse" href="#collapseWoods" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          + Woods
        </a>
        <ul>
          <li class="show_content collapse" id="collapseWoods">{{bag.woods}}</li>
        </ul>
        <a class="expandLink" data-toggle="collapse" href="#collapseHybrids" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          + Hybrids
        </a>
        <ul>
          <li class="show_content collapse" id="collapseHybrids">{{bag.hybrids}}</li>
        </ul>
        <ul>
          <li>
            {% if bag.user_id == session.user_id%}
            <a href="/edit/{{bag.id}}">Edit bag</a>
            {% endif %}
          </li>
        </ul>
        </div>

      </div>
      <div class="col-4 show_content">
        <a class="expandLink" data-toggle="collapse" href="#collapseIrons" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        + Irons
      </a>
        <ul>
          <li class="show_content collapse" id="collapseIrons">{{bag.irons}}</li>
        </ul>
        <a class="expandLink" data-toggle="collapse" href="#collapseWedges" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        + Wedges
      </a>
        <ul>
          <li class="show_content collapse" id="collapseWedges">{{bag.wedges}}</li>
        </ul>
        <a class="expandLink" data-toggle="collapse" href="#collapsePutter" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        + Putter
      </a>
        <ul>
          <li class="show_content collapse" id="collapsePutter">{{bag.putter}}</li>
        </ul>
        <ul>
          <li>
            {% if bag.user_id == session.user_id%}
            <a href="/bag/delete/{{bag.id}}">Delete Bag</a>
            {% endif %}
          </li>
        </ul>

      </div>
      <div class="col-4">
        <img src="/static/img/view_sidebar.jpg" alt="golf bags" id="show_img">
      </div>
    </div>


  </div>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>


</html>