<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Add a Bag</title>
</head>
<body>
<h1>{{ bag.name }}</h1>

 <!-- Todo create a collapsible button for each item in the bag. Label  = Driver, woods, etc. revealed content will be {{bag.driver}} {{bag.wedges}} etc -->

  <ul>
  <li>{{bag.driver}}</li>
  <li>{{bag.woods}}</li>
  <li>{{bag.hybrids}}</li>
  <li>{{bag.irons}}</li>
  <li>{{bag.wedges}}</li>
  <li>{{bag.putter}}</li>
</ul>

<a href = "/edit/{{bag.id}}">Edit bag</a>
<a href = "/bag/delete/{{bag.id}}">Delete Bag</a>
</body>

</html>