/*
Palette:
#FFFFFF
#C4C4C4
#9EC5C7
#6E9597
#398564
#004242
*/

/* All pages */
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: auto 0px;
    text-decoration: none !important;
}
body {
    background-color: #004242;
    color: #FFFFFF;
    
}
.topnav {
    color: #FFFF;
    overflow: hidden;
    background-color: #6E9597;
    padding: 0px;
}
.topnav a {
    /* float: left; */
    /* text-align: center; */
    /* padding: 10px 25px; */
    text-decoration: none;
    font-size: 2em;
    color: #FFFF;
}

a:hover {
    color: #398564;
  }


#brand {
    font-weight: bold;
    font-size: 2.5em;
}
#logo {
    height: 4.5em;
    padding: none;
    
}
/*Dashboard Activity Feed*/
.main {
    
    background-color: #9EC5C7;
    margin: 10px;
}
#welcome {
    padding-left: 15px;
    font-size: 2.5em;
    color: #FFFF;
    background-image: linear-gradient(to right, #6E9597 , #9EC5C7);
    width: auto;
}
#dashboard_hero{
    display: block;
    padding: 5px 5px;
    margin: auto;
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}
.feed {
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 5px;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
.feed_item {
    color: #004242;
    font-size: 1.5em;
    margin-left: 0px;

    display: flex;
    
    
}
.feed_item a {
    color: #004242;
    font-size: 1em;
    margin-left: 0px;
}
.feed_item a:hover{
    color: #9EC567;
}
.like {
    flex-direction: row;
}

/* My bags, right side dashboard*/
.sidebar {
    background-color: #6E9597;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.my_bags{
    border-radius: 15px;
    background-color: #C4C4C4;
    padding: 10px 0px;
    list-style-type: none;
}
ul{
    list-style-type: none;
}
.my_bag_item{
    text-decoration: none;
    color: #004242;
    font-size: 1.5em;
    margin: 0;
    padding: 0;

}
#dash_cart{
    padding: 5px 5px;
    margin: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    bottom: 0px;
}

/*View Bag*/

.show_main{
    background-color: #FFFFFF;
    color: #004242;
    border-radius: 15px;
    font-size: 1.5em;
    margin: 10px 0px;


}

.show_content {
    display: flex;

    flex-direction: column;
    align-content: space-between;
} 

#show_img{
    height: auto;
    width: 100%;

    margin: 10px 0px;
    border-radius: 10px;
}
