/*
Palette:
#FFFFFF
#C4C4C4
#9EC5C7
#6E9597
#398564
#004242
*/

/* All pages */
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: auto 0px;
    text-decoration: none !important;
}
body {
    background-color: #004242;
    color: #FFFFFF;
    
}
.topnav {
    color: #FFFF;
    overflow: hidden;
    background-color: #6E9597;
    padding: 0px;
}
.topnav a {
    /* float: left; */
    /* text-align: center; */
    /* padding: 10px 25px; */
    text-decoration: none;
    font-size: 2em;
    color: #FFFF;
}

a:hover {
    color: #398564;
  }

.buttons_submit {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#004242;
	border-radius: 8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:0.75em;
	font-weight:bold;
	padding:7px 10px;
    width: 50%;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.buttons_submit:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#6e9597;
    color: #FFFFFF;
}
.buttons_submit:active {
	position:relative;
	top:1px;
}

#brand {
    font-weight: bold;
    font-size: 2.5em;
}
#logo {
    height: 4.5em;
    padding: none;
    
}
/*Dashboard Activity Feed*/
.main {
    
    background-color: #9EC5C7;
    margin: 10px;
}
#welcome {
    padding-left: 15px;
    font-size: 2.5em;
    color: #FFFF;
    background-image: linear-gradient(to right, #6E9597 , #9EC5C7);
    width: auto;
}
#dashboard_hero{
    display: block;
    padding: 5px 5px;
    margin: auto;
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}
.feed {
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 5px;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
.feed_item {
    color: #004242;
    font-size: 1.5em;
    margin-left: 0px;

    display: flex;
    
    
}
.feed_item a {
    color: #004242;
    font-size: 1em;
    margin-left: 0px;
}
.feed_item a:hover{
    color: #9EC567;
}


/* My bags, right side dashboard*/
.sidebar {
    background-color: #6E9597;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.my_bags{
    border-radius: 15px;
    background-color: #C4C4C4;
    padding: 10px 0px;
    list-style-type: none;
}
ul{
    list-style-type: none;
}
.my_bag_item{
    text-decoration: none;
    color: #004242;
    font-size: 1.5em;
    margin: 0;
    padding: 0;

}
#dash_cart{
    padding: 5px 5px;
    margin: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    bottom: 0px;
}

/*View Bag*/

.show_main{
    background-color: #FFFFFF;
    color: #004242;
    border-radius: 15px;
    font-size: 1.5em;

}

.show_content {
    display: flex;

    flex-direction: column;
    align-content: space-between;
} 

#show_img{
    height: auto;
    width: 100%;

    margin: 10px 0px;
    border-radius: 10px;
}

/* Login Page */

/* #banner {
    height: 350px;
    width: auto;
} */
.register_login {
    background-color: #6E9597;
    margin: 0.3em 0.5em 0 0.5em;
    text-align: center;
}
.form_windows {
    color: black;
    background-color: #FFFFFF;
    padding: 10px;
}
.form_style {
    margin: 0;
}

.login_button{
    width: 20%;
}
/*Show page*/

.page_title {
    background-color: #6E9597;
    margin: 0.3em 0.5em 0 0.5em;
    width: 50%;
    text-align: center;
}

#bag_title {
    text-decoration: underline !important;
    padding: 1em;
    font-size: 1.2em;
}

/*add bag*/
#add_bag_submit{
    width: 40%;
    margin-top: .5em;
}